// Colours
$color-primary-light-1: #BEA0B5;
$color-primary-light-2: #9D7390;
$color-primary: #835174;
$color-primary-dark-1: #68385A;
$color-primary-dark-2: #561F45;

$color-secondary-light-1: #F7D0D2;
$color-secondary-light-2: #CC9598;
$color-secondary: #AA696C;
$color-secondary-dark-1: #88484D;
$color-secondary-dark-2: #70282C;

$color-tertiary-light-1: #9D91AA;
$color-tertiary-light-2: #7A6A8D;
$color-tertiary: #604C75;
$color-tertiary-dark-1: #49355D;
$color-tertiary-dark-2: #36204D;

$color-complimentary-light-1: #E4EEC9;
$color-complimentary-light-2: #B7C590;
$color-complimentary: #93A465;
$color-complimentary-dark-1: #738346;
$color-complimentary-dark-2: #5A6C27;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;