*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% // 1 rem = 10px 10px / 16px = 62.5%
}

body {
    background: url('../img/flexbox-background.png') $color-secondary-light-2; 
    box-sizing: border-box;
    margin: 3.2rem 0; 
}

.section {
    margin: 3rem 0;
    padding: 2rem 4rem;  

    @include respond(tablet-portrait) {
        margin: 2rem 0;
        padding: 1.5rem 4rem;
    } 

    @include respond(phone) {
        margin: 1rem 0;
        padding: 1rem 4rem;
    }
}